<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 알림/정확알람/부팅 복구를 쓰지 않으면 권한 전부 제거 가능 -->
    <!-- 필요 시 아래 주석 해제
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SleepShift">

        <!-- 런처: 스플래시 -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".feature.AlarmActivity"
            android:exported="false"
            android:showOnLockScreen="true"
            android:turnScreenOn="true"
            android:showWhenLocked="true" />

        <!-- Sleepy 플로우만 사용 -->
        <activity android:name=".feature.InitSurveyActivity" />
        <activity android:name=".feature.HomeActivity" />
        <activity android:name=".feature.CheckinActivity" />
        <activity android:name=".feature.SleepModeActivity" />
        <activity android:name=".feature.MorningGateActivity" />
        <activity android:name=".feature.ReportActivity" />

        <!-- 기존 알람/리시버/온보딩/메인은 제거 -->
    </application>
</manifest>
